<div class="play-area">
  <div class="dummy-score-card">
    <div style="display: table-cell; vertical-align: middle; text-align: center">
      <i class="fa fa-product-hunt"></i>
    </div>
  </div>
  <div class="dummy-score-card-selected">
    <div style="display: table-cell; vertical-align: middle; text-align: center">
      <i class="fa fa-product-hunt"></i>
    </div>
  </div>
  <div class="score-card-number">
    <div style="display: table-cell; vertical-align: middle;">
      8
    </div>
  </div>
  <div class="user-name">
    <div style="display: table-cell; vertical-align: middle;">
      Vikas Biradar
    </div>
  </div>
</div>
