.capacity {
  display: flex;
  width: 100%;
  height: inherit;
  align-items: center;
  justify-content: center;

  .hearder {
    display: flex;
    width: inherit;

    .velocity-count {
      margin-left: auto;
    }
  }
}
