<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="game-sidebar">
      <app-story-board [game]="game$ | async" (addNewUserStory)="onAddNewUserStory($event)"></app-story-board>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="example-events">
      <div class="game">
        <div class="game-main-content">
          <div class="game-board">
            <div class="round-info-controls">
              <p>
                <button mat-button (click)="sidenav.toggle()">
                  &nbsp;
                  <span *ngIf="opened" class="navigator before-navigator"></span>
                  <span *ngIf="!opened" class="navigator next-navigator"></span>
                </button>
              </p>
            </div>
            <div class="all-players-cards-selected">
              <div class="scroll-container flex">
                <app-play-area [game]="game$ | async"></app-play-area>
              </div>
            </div>
            <div class="players-cards-container">
              <app-play-cards (selectPoint)="onSelectPoint($event)"></app-play-cards>

            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-dialog *ngIf="showAddNewUserStory" (dialogResponse)="dialogResponse($event)" [dialogConfig]="dialogConfig" ></app-dialog>
