/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important;
  height: inherit !important;
}
.navigator {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-position-x: 10%;
  background-position-y: 50%;
  position: absolute;
  cursor: pointer;
}
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-color: #343a40;
  --secondary-color: #6c757d;
  --background-color: #212529;
  --text-color: #f8f9fa;
}

/* Custom Blue Theme */
[data-theme="blue"] {
  --primary-color: #0056b3;
  --secondary-color: #d1ecf1;
  --background-color: #e9ecef;
  --text-color: #212529;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.card {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}