.story-board {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 58px);

  .capacity {
    display: flex;
    width: 100%;
    background-color: #808080;
    color: #fff;
    padding: 0 10px;

    app-capacity {
      width: inherit;
    }
  }

  .header {
    text-align: center;
    background-color: #808080;
    color: #fff;
  }

  .header-titles {
    display: flex;
    justify-content: space-between;
    margin: 3px 20px;
  }

  .current-story-number {
    text-align: center;
    padding: 10px;

    .navigator {
      border: 1px solid #b7b2b2;
      cursor: pointer;

      &.next-navigator {
        right: 34%;
        background-image: url("./../../../../assets/images/navigate_next_black.svg");
      }

      &.before-navigator {
        left: 34%;
        background-image: url("./../../../../assets/images/navigate_before_black.svg");
      }
    }
  }

  .user-story-list {
    -ms-flex: 1 auto;
    flex: 1 auto;
    overflow-y: auto;
  }

  .operation {
    border-top: 1px solid #e6ebef;
    z-index: 2;
  }
}
