.user-story-list-body {
  .user-story {
    display: flex;
    border: 1px solid #eadddd;
    padding: 5px;

    .user-story-name {
      flex: 1;
    }

    .user-story-point {
      min-width: 25px;
      text-align: center;
    }

    /*&:nth-child(2n) {
      background-color: #e0dede;
    }*/
  }
}
